#primum04_id {
  width: 100%;
  width: 77% !important;
}

#sow_more {
  width: 500px;
  width: 100%;
}
span {
  font-size: 5px;
}

.heade {
  display: flex;
  justify-content: space-between;
}

.headr1 {
  display: flex;
}

#actions {
  display: flex;

  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
.color {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--accent-primary);
}
#actions :hover {
  color: var(--accent-primary);
}
#actions svg {
  margin-top: 3px;
  padding-left: 7px;
  fill: var(--text-primary);
}
#actions p {
  margin-right: 70px;
  margin-top: 10px;
  color: var(--text-primary);
}

.hader2 {
  margin-top: 10px;
}
#primum04_id hr {
  color: var(--border-color);
  width: 100%;
  margin-top: -3px;
  border-color: var(--border-color);
}
