.profile_contener {
  background-color: #151529;
}

.profile {
  width: 80vw;
  margin-left: 260px;
  padding: 30px;
  display: flex;
}
@media (max-width: 768px) {
  .profile {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}
.profile04 {
  margin-top: -100px;
}
