.carousel_container {
  position: relative;
  width: 90%;
  max-width: 1362px;
  height: 450px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 20px;
}

.carousel_slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel_slide img {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel_container {
    height: 380px;
    width: 95%;
  }
}

@media (max-width: 480px) {
  .carousel_container {
    height: 280px;
    width: 95%;
  }

  .carousel_slide {
    width: 200%;
    animation: slideIn 0.5s ease-in-out;
  }

  .carousel_slide img {
    width: 50%;
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
