.carousel_container {
  position: relative;
  width: 85%;
  max-width: 1362px;
  height: 450px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 20px;
}

.carousel_slide {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel_slide img {
  width: 33.33%;
  height: 100%;
}

@media (max-width: 768px) {
  .carousel_container {
    width: 95%;
    height: 300px;
  }

  .carousel_slide img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .carousel_container {
    height: 200px;
  }

  .carousel_slide {
    width: 200%;
  }

  .carousel_slide img {
    width: 50%;
  }
}
