.header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--bg-secondary);
  justify-content: space-between;
  width: 132%;
  z-index: 9999999;
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}
header {
  margin-bottom: 0px !important;
}

.back_button {
  color: var(--text-primary);
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.back_button:hover {
  transform: translateX(-5px);
  color: var(--accent-primary);
}
.header_content {
  flex: 1;
}

.header_title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

.header_subtitle {
  color: var(--text-secondary);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.header_icons {
  display: flex;
  gap: 1rem;
}

.header_icon {
  width: 45px;
  height: 40px;
  margin-top: -10px;
  color: var(--text-secondary);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header_icon h3 {
  font-size: 0.79rem;
  color: var(--text-muted);
  width: 100%;
}

.header_icon:hover {
  transform: translateY(-3px);
  color: var(--text-primary);
}

.header_icons {
  display: flex;
  gap: 1rem;
}

.header_icons {
  display: flex;
  gap: 1rem;
}

.header_icon {
  width: 45px;
  height: 40px;
  margin-top: -10px;
  color: var(--text-secondary);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header_icon h3 {
  font-size: 0.79rem;
  color: var(--text-muted);
  margin-left: -12px;
}

.header_icon:hover {
  transform: translateY(-3px);
  color: var(--text-primary);
}

@media (max-width: 768px) {
  .header_title {
    font-size: 1.1rem;
  }

  /* .categories {
    grid-template-columns: 1fr;
  } */
}
