@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #09090b; /* zinc-950 */
  --bg-card: #18181b; /* zinc-900 */
  --primary: #e11d48; /* rose-600 */
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-dark);
  color: #f4f4f5; /* zinc-100 */
}

.glass-card {
    background: rgba(24, 24, 27, 0.6);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 20px;
}
