.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0.3rem 1.5rem;
  margin-top: 5%;
}

.category_card,
.question_item {
  animation: fadeIn 0.5s ease-out forwards;
}

.category_card {
  background-color: var(--bg-tertiary);
  padding: 1.25rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border-color);
}

.category_card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category_card:hover::before {
  opacity: 1;
  animation: ripple 1s ease-out;
}

.category_card:hover {
  transform: translateY(-5px) scale(1.02);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 24px rgba(194, 22, 65, 0.1);
  border-color: var(--accent-primary);
}

.actives {
  background: var(--accent-gradient);
}

.category_title {
  font-size: 1.1rem;
  font-weight: 500;
  z-index: 1;
  color: var(--text-primary);
}

.category_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  z-index: 1;
  color: var(--text-primary);
}

.filters {
  display: flex;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  overflow-x: auto;
  background: var(--bg-secondary);
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter_btn {
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  /* background: transparent; */
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 0.9rem;
}

.filter_btn:hover {
  border: 1px solid var(--accent-primary);
}

.filter_btn.active {
  background: var(--accent-gradient);
  border-color: transparent;
}

@media (max-width: 768px) {
  .header_title {
    font-size: 1.1rem;
  }

  .categories {
    grid-template-columns: 1fr;
  }
}
